<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <#include "../common/wx.html"/>
    <title>Java后端WebSocket的Tomcat实现</title>

     <style type="text/css">
         #weuipanel .weui-panel:after,#weuipanel .weui-panel__hd:after,#weuipanel:after{
             content:normal;
         }
     </style>

    <link rel="stylesheet" type="text/css" href="${s.base}/css/jscrollpane1.css" />
    <!--引用jquery-1.4.2.min.js会影响添加表情，不引用jquery-1.4.2.min.js就不支持IE、火狐浏览器的鼠标滚轮插件-->
    <!-- the mousewheel plugin -->
    <script type="text/javascript" src="${s.base}/js/jquery.mousewheel.js"></script>
    <!-- the jScrollPane script -->
    <script type="text/javascript" src="${s.base}/js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="${s.base}/js/scroll-startstop.events.jquery.js"></script>
</head>
<body>
<div id="weuipanel" class="weui-panel">
    <input id="_aid"  name="_aid" type="text" value="${activityId}" hidden="hidden"/>
    <input id="_openid"  name="_openid" type="text" value="${openid}" hidden="hidden"/>
    <div id="message" style="margin-bottom: 50px;" class="weui-panel__hd">消息上墙--大屏幕</div>
    <div class="weui-cell weui-cell_vcode" style="position: fixed;z-index: 10;bottom: 0;left: 0;right: 0;background-color:#FFFFFF;">
        <div class="weui-cell__bd">
            <input class="weui-input" style="height: 40px" id="text" type="text" placeholder="请输入文本">
        </div>
        <div class="weui-cell__ft">
            <button class="weui-btn weui-btn_mini weui-btn_primary" onclick="send()">发送消息</button>
            <!--<a href="javascript:;" class="weui-vcode-btn">获取验证码</a>-->
        </div>
    </div>
</div>

<!--<button onclick="closeWebSocket()">关闭WebSocket连接</button>-->
</body>
<script id="template" type="text/x-jquery-tmpl">
    <div class="weui-panel__bd">
        <div class="weui-media-box weui-media-box_text">
            <img style="width: 50px" src="<%= imgTemp %>"/>
            <p class="weui-media-box__desc"><%= msgTemp %></p>
        </div>
    </div>
	<div class="talk_record">
		<div id="jp-container" class="jp-container">
			<div class="talk_recordboxme">
				<div class="user"><img src="${s.base}/img/thumbs/15.jpg"/>美美</div>
				<div class="talk_recordtextbg">&nbsp;</div>
				<div class="talk_recordtext">
					<h3>我的问题是：1+1=？</h3>
					<span class="talk_time">2014-09-15 15:06</span>
				</div>
			</div>

			<div class="talk_recordbox">
				<div class="user"><img src="${s.base}/img/thumbs/11.jpg"/>壮壮</div>
				<div class="talk_recordtextbg">&nbsp;</div>
				<div class="talk_recordtext">
					<h3>对方的回答是：1+1=2</h3>
					<span class="talk_time">2014-09-15 15:06</span>
				</div>
			</div>

			<div class="talk_recordboxme">
				<div class="user"><img src="${s.base}/img/thumbs/15.jpg"/>美美</div>
				<div class="talk_recordtextbg">&nbsp;</div>
				<div class="talk_recordtext">
					<h3>我的问题是：1+1真的等于2吗？不会是等于3吧</h3>
					<span class="talk_time">2014-09-15 15:06</span>
				</div>
			</div>

		</div>

	</div>

</script>
<script type="text/javascript">
//    var aid = window.location.href.split('sendMsgMobile/')[1].split('.html')[0];
    var websocket = null;
    var sessionId = 0;
    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
//        websocket = new WebSocket("ws://"+window.location.hostname+"/websocket/"+aid+"/ssss");
        websocket = new WebSocket("ws://"+window.location.hostname+"/websocket/"+$('#_aid').val()+"/"+$('#_openid').val());
    }
    else {
        alert('当前浏览器 Not support websocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
        setMessageInnerHTML("WebSocket连接发生错误");
    };

    //连接成功建立的回调方法
    websocket.onopen = function () {
//        websocket.send(window.location.href);
//        websocket.send("client:sendMsg:123");
        setMessageInnerHTML("WebSocket连接成功");
    }

    //接收到消息的回调方法
    websocket.onmessage = function (event) {
        setMessageInnerHTML(event.data);
        //server:sendId:12
        sessionId=event.data;
    }

    //连接关闭的回调方法
    websocket.onclose = function () {
        setMessageInnerHTML("WebSocket连接关闭");
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
    }

    //将消息显示在网页上
    function setMessageInnerHTML(msg) {
        var data = JSON.parse(msg);
        var template=$('#template').html();
        var result=ejs.render(template, {msgTemp:data.message,imgTemp:data.headimgurl});
        $( "#message" ).append(result);
        setScrollTop(document.getElementById('message').scrollHeight);
    }

    //关闭WebSocket连接
    function closeWebSocket() {
        websocket.close();
    }

    //发送消息
    function send() {
        var message = document.getElementById('text').value;
        websocket.send(message);
        document.getElementById('text').value='';
    }

    /**
     *设置scrollTop的值，兼容所有浏览器
     */
    function setScrollTop(scroll_top) {
        document.documentElement.scrollTop = scroll_top;
        window.pageYOffset = scroll_top;
        document.body.scrollTop = scroll_top;
    }
</script>
</html>